<div class="container">

  <form id="search-bar" method="GET" action="/artist-search">

    <input id="user[-input" type="text" placeholder="Enter your song here" />

    <button type="submit">Submit</button>

  </form>

</div>