<main class="main-form">

  <div class="container-form">

    <form
      id="search-bar"
      method="get"
      action="/artist-search"
      enctype="application/json"
    >

      <input
        id="user[-input"
        type="text"
        name="artist"
        placeholder="Enter an Artist name here"
      />

      <button class="submit-btn" type="submit">Search for an Artist</button>
    </form>

  </div>

</main>